{% extends 'shared/_MainLayout.html' %}


{% block content %}
    
{% endblock content %}
    

{% comment %} <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Show on Map</button>
    </form>
    {% if map %}
        <h2>Map</h2>
        <div>{{ map|safe }}</div>
    {% endif %}
</body>
</html> {% endcomment %}