<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{% endblock title %}| نمایش نقشه با مختصات</title>
    {% include 'shared/_HeaderRefrences.html' %}
</head><!--/head-->

<body>
	{% include 'shared/Header.html' %}
	 
    
    {% block content %}{% endblock content %}
        
	
	{% include 'shared/Footer.html' %}
    {% include 'shared/_FooterRefrences.html' %}
</body>
</html>