{% load static %}

<footer id="footer"><!--Footer-->
    <div class="footer-Before">
        <div class="container">
            <div class="block-news">
                <div class="row">
                    <h3>Django Offline Map Application</h3>
                </div>
            </div>
        </div>
    </div>
    
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="address">
                        <img src="{% static 'images/home/map.png' %}" alt="" />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="address">
                        <img src="{% static 'images/home/map.png' %}" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>    
</footer><!--/Footer-->